/* Main info */
.dashboard {
    border: 2px;
    border-radius: 30px;
    background: black;
    display: flex;
    max-width: 800px;

}

/* Nabigation */
.dashboard-nav {
    flex-shrink: 0;
    width: 130px;
    height: 900px;
    background: blue;
}


.dashboard-body {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 5px;
    flex-grow: 1;
    background: rgb(148, 60, 60);
    border-radius: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.nav-logo {
    margin-bottom: 20px;
    flex-shrink: 0;
    background-color: rgb(36, 96, 96);

}

.nav-icons {
    flex-grow: 1;
    background-color: rgb(53, 84, 84);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

